table {
  font: 10px/24px Verdana, Arial, Helvetica, sans-serif;
  border-collapse: collapse; 
}

th {
  padding: 0em 1em;
  text-align: center; 
}

td {
  border-top: 1px solid #cccccc;
  padding: 0em 1.5em 0em 0.5em;
  text-align: left;
  max-width: 50em;
  word-wrap: break-word;
}
