table {
  font: 10px/24px Verdana, Arial, Helvetica, sans-serif;
  border-collapse: collapse; 
}

th {
  padding: 0em 1em;
  text-align: center; 
}

td {
  border-top: 1px solid #cccccc;
  padding: 0em 1.5em 0em 0.5em;
  text-align: left;
  max-width: 50em;
  word-wrap: break-word;
}

svg {
  font-size: 10px;
}

rect {
  fill: #eeeeee;
}

path.area {
  fill: #000;
  fill-opacity: .75;
}

.axis line, .grid line {
  stroke-width: .5px;
  shape-rendering: crispEdges;
}

.grid line {
  stroke: #fff;
}

.grid line.minor {
  stroke-opacity: .5;
}

.grid text {
  display: none;
}

.axis line {
  stroke: #000;
}

.grid path, .axis path {
  display: none;
}

circle, .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px; }

circle {
  fill: white;
  fill-opacity: 0.2;
  cursor: move; }
  circle.selected {
    fill: #ff7f0e;
    stroke: #ff7f0e; }
  circle:hover {
    stroke: #ff7f0e; }

div.tooltip {
  position: absolute;
  text-align: left;
  width: 240px;
  margin: 2px;
  padding: 2px 4px;
  font: 10px sans-serif;
  background: #FFF1CD;
  border: solid 1px #aaaaaa;
  border-radius: 8px;
  pointer-events: none; }
  div.tooltip .title {
    font-size 14px; 
    font-weight: bold; }
  div.tooltip ul.selected {
    font-weight: bold; }
  div.tooltip ul {
    list-style-type: none;
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em; }
    div.tooltip ul li {
      line-height: 1em;
      display: inline-table;
      margin: 0em 0em 0em 0em;
      padding: 0.5em 0em 0.5em 0em; }
        
  

fieldset {
  height: 2.2em;
  width: 200px;
  border: 0px; }